language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
sudo: false
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: nosetests --exclude=test_suite
