name: Run Python Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "pypy3.8", "pypy3.9"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install libxml2
        run: |
          sudo apt-get update
          sudo apt-get install libxml2 libxml2-dev libxslt1-dev
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.2.2
          virtualenvs-in-project: true
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - name: Install library
        run: poetry install --no-interaction
      - name: Run tests
        run: poetry run pytest
      - uses: psf/black@stable
        with:
          options: "--verbose"
          src: "./"
          version: "23.3"
      - uses: isort/isort-action@v1